body
{
    margin: 0;
    padding: 0;
    box-sizing: border;
    background-color: #efefef;
}
.social 
{
    margin: 0;
    padding: 8px;
    text-align: center;
    color: aquamarine;
    background-color: black;
}

.box-1 {
    width: 350px;
    margin: 20px 335px 0px 10px;
    border: 1px solid #9e9e9e;
    padding: 8px;
    border-radius: 5px;
    background-color: #9a94940a;
    float: left;
}

.box-1 h2 
{
    margin: 0;
   text-align: center;
}
.box-1 p,
.box-1 button
{
    margin: 5px 0;
}

.box-2 
{
    width: 350px;
    margin: 20px 0 0 10px;
    border: 1px solid #9e9e9e;
    padding: 8px;
    border-radius: 5px;
    background-color: #9a94940a;
    overflow: hidden;
    float: left;
}

.box-2 h2 
{
    margin: 0;
   text-align: center;
}
.box-2 p,
.box-2 button
{
    margin: 5px 0;
}

/* Box-3 start here */

.box-3 
{
    width: 350px;
    margin: 10px 0 0 370px;
    border: 1px solid #9e9e9e;
    padding: 8px;
    border-radius: 5px;
    background-color: #9a94940a;
    overflow: hidden;
}

.box-3 h2 
{
    margin: 0;
   text-align: center;
}
.box-3 p,
.box-3 button
{
    margin: 5px 0;
}